

<!-- 

<h2>Welcome to your personal 'Todo' list.</h2>
<h1>Please sign in!</h1>


<div>
  <button><%= link_to 'Sign up', new_user_path %></button>
  <button><%= link_to 'Log in',  login_path %></button>
</div> -->
